<a href="https://colab.research.google.com/github/User28198/DS_tasks/blob/main/School_DBMS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install dnspython
!pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dnspython
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 5.1 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.2.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [2]:
import pymongo
from pymongo.mongo_client import MongoClient
import re
import datetime
import pandas as pd
from tabulate import tabulate

client = pymongo.MongoClient("mongodb+srv://jayasurya:DbVF6hJM01Um69cu@cluster0.m5oaa.mongodb.net/?retryWrites=true&w=majority")
db = client.db1
school_db = db.school_db

In [ ]:
def check_input(num, x, y):
  while not num.isnumeric():
    num = input('Enter a valid number: ')
  num = int(num)
  while (num < x ) or (num > y):
    num = int(input('Enter a value bt. 1 and 2:'))
       
  return int(num)           #exception handling to be done

def validate(email):
  regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'
  if(re.fullmatch(regex, email)):
    return(email)
  else:
    email = input('Invalid Email!! Enter again...')
    temp = validate(email)
    return(temp)   

def check(number):
  regex = '\d{10}'
  if(re.fullmatch(regex, number)):
    return(number)
  else:
    number = input('Invalid Phone Number!! Enter again...')
    temp = check(number) 
    return(temp)  

def register():
  name = input('Name...')
  std = input('Standard...')
  sec = input('Section...')
  parent_name = input('Parent Name...')
  r_ph_number = input('Phone Number...')
  ph_number = check(r_ph_number)
  dob1 = input('Date of Birth (YYYY-MM-DD)...')
  year, month, day = map(int, dob1.split('-'))
  dob = datetime.date(year, month, day)      
  year_month_day = str(year)+str(month)+str(day)
  user_id = name + year_month_day        #Logic for user_id needs to be changed 
  #photo = input()                       #exception handling to be done
  student = {
      '1_name'        : name,
      '2_std'         : std,
      '3_sec'         : sec,
      '4_parent_name' : parent_name,
      '5_ph_number'   : ph_number,
      '6_dob'         : dob.isoformat(),
      '7_user_id'     : user_id
      #'8.photo'      : photo
        }
  school_db.insert_one(student)
  print('Registered Successfully!')

def update():
  u_user_id = input('Enter the user ID...')
  for x in school_db.find({'7_user_id' : u_user_id}, {'_id':0, '1_name':1, '2_std':1, '3_sec':1, '4_parent_name':1, '5_ph_number':1, '6_dob':1}):
    print(x)
  update_item = input('Press required S.No to update...')
  update_item = check_input(update_item, 1, 6)

  if update_item == 1:
    new_item = input('Update Name...')
    new_value = { '$set' : {'1_name' : new_item}}
  elif update_item == 2:
    new_item = input('Update Standard...')
    new_value = { '$set' : {'2_std' : new_item}}
  elif update_item == 3:
    new_item = input('Update Section...')
    new_value = { '$set' : {'3_sec' : new_item}}
  elif update_item == 4:
    new_item = input('Update Parent Name...')
    new_value = { '$set' : {'4_parent_name' : new_item}}
  elif update_item == 5:
    new_item1 = input('Update Phone Number...')
    new_item = check(new_item1)
    new_value = { '$set' : {'5_ph_number' : new_item}}
  elif update_item == 6:
    new_item1 = input('Update Date of Birth...')
    year, month, day = map(int, new_item1.split('-'))
    new_item = datetime.date(year, month, day)      
    new_value = { '$set' : {'6_dob' : new_item.isoformat()}}
  
  myquery = {'7_user_id' : u_user_id}
  
  school_db.update_one(myquery, new_value)
  print('Updated Successfully!')\

def delete():
  d_user_id = input('Enter the user ID to be deleted...')
  for x in school_db.find({'7_user_id' : d_user_id}, {'_id':0, '1_name':1, '2_std':1, '3_sec':1, '4_parent_name':1, '5_ph_number':1, '6_dob':1}):
    print(x)
  delete_item = int(input('Press 1 to delete the record and 0 to exit'))

  if delete_item == 1:
    school_db.delete_one({"7_user_id" : d_user_id})
    print(d_user_id, ' Deleted Successfully')

def display():
  data = pd.DataFrame(school_db.find())
  print(data)

def create_df():
  data = pd.DataFrame(school_db.find())
  global df
  global df1
  global df2
  global df3
  df = pd.json_normalize(school_db.find())

  df = df.rename(columns = 
                {'1_name' : 'name', '2_std': 'std', '3_sec':'sec', '4_parent_name':'parent_name', '5_ph_number':'ph_number', '6_dob':'dob', '7_user_id':'user_id',
                  "8_q_marks.math" : "q_marks_math", "8_q_marks.science" : "q_marks_science", '8_q_marks.language' : 'q_marks_language',
                  '8_q_marks.sports' : 'q_marks_sports', '8_q_marks.art' : 'q_marks_art', '8_q_marks.eq' : 'q_marks_eq',
                  "9_h_marks.math" : "h_marks_math", "9_h_marks.science" : "h_marks_science", '9_h_marks.language' : 'h_marks_language',
                  '9_h_marks.sports' : 'h_marks_sports', '9_h_marks.art' : 'h_marks_art', '9_h_marks.eq' : 'h_marks_eq',
                  "10_a_marks.math" : "a_marks_math", "10_a_marks.science" : "a_marks_science", '10_a_marks.language' : 'a_marks_language',
                  '10_a_marks.sports' : 'a_marks_sports', '10_a_marks.art' : 'a_marks_art', '10_a_marks.eq' : 'a_marks_eq'})

  #unpivoting data from wide to long structure
  df1 = df.melt(id_vars = ['_id', 'name', 'std', 'sec', 'parent_name', 'ph_number', 'dob', 'user_id'],
          var_name = 'subject', 
          value_name = 'marks')
 

def failed_subjectwise():
  create_df()
  subject_wise = df1.copy()
  subject_wise.set_index('subject')
  pd.set_option('expand_frame_repr', False)
  failed_subjectwise = subject_wise.loc[subject_wise.marks < 35]
  print(tabulate(failed_subjectwise, headers = 'keys', tablefmt = 'psql'))

def failed_stdwise():
  #create_df()
  std_wise = df1.copy()
  std_wise = std_wise.set_index(['std', 'sec']).sort_index()
  #pd.set_option('expand_frame_repr', False)
  failed_stdwise = std_wise.loc[std_wise.marks < 35]
  print(tabulate(failed_stdwise, headers = 'keys', tablefmt = 'psql'))

def toppers():
  toppers = df.copy()
  toppers['total_marks'] = toppers.apply(lambda row:(row.q_marks_math + row.q_marks_science + row.q_marks_language + 
                                                    row.q_marks_sports + row.q_marks_art + row.q_marks_eq +
                                                    row.h_marks_math + row.h_marks_science + row.h_marks_language + 
                                                    row.h_marks_sports + row.h_marks_art + row.h_marks_eq +
                                                    row.a_marks_math + row.a_marks_science + row.a_marks_language + 
                                                    row.a_marks_sports + row.a_marks_art + row.a_marks_eq), axis = 1)
  toppers = toppers[['std', 'sec', 'name', 'parent_name', 'ph_number', 'dob', 'user_id', 'total_marks']]
  max_id = toppers.groupby(['std', 'sec'])['total_marks'].transform(max) == toppers['total_marks']
  print(tabulate(toppers[max_id].sort_values('std'), headers = 'keys', tablefmt = 'psql'))

def weak_performers():
  weak_performers = df.copy()
  weak_performers['total_marks'] = weak_performers.apply(lambda row:(row.q_marks_math + row.q_marks_science + row.q_marks_language + 
                                                    row.q_marks_sports + row.q_marks_art + row.q_marks_eq +
                                                    row.h_marks_math + row.h_marks_science + row.h_marks_language + 
                                                    row.h_marks_sports + row.h_marks_art + row.h_marks_eq +
                                                    row.a_marks_math + row.a_marks_science + row.a_marks_language + 
                                                    row.a_marks_sports + row.a_marks_art + row.a_marks_eq), axis = 1)
  weak_performers = weak_performers[['std', 'sec', 'name', 'parent_name', 'ph_number', 'dob', 'user_id', 'total_marks']]
  min_id = weak_performers.groupby(['std', 'sec'])['total_marks'].transform(min) == weak_performers['total_marks']
  print(tabulate(weak_performers[min_id].sort_values('std'), headers = 'keys', tablefmt = 'psql'))

def admin():
  print('Press 1 to register a new student')
  print('Press 2 to Update')
  print('Press 3 to Delete')
  print('Press 4 to Display')
  print('Press 5 to view failed students in each subject')
  print('Press 6 to view failed students in each standard and section')
  print('Press 7 to view the toppers')
  print('Press 8 to view weak performers')
  c = input()
  d = check_input(c, 1, 8)

  if d == 1:
    register()
  elif d == 2:
    update()
  elif d == 3:
    delete()
  elif d == 4:
    display()
  elif d == 5:
    failed_subjectwise()
  elif d == 6:
    failed_stdwise()
  elif d == 7:
    toppers()
  elif d == 8:
    weak_performers()

def professor():
  print('Print 1 to update quarterly marks')
  print('Print 2 to update half-yearly marks')
  print('Print 3 to update annual marks')
  e = input()
  f = check_input(e, 1, 3)

  if f == 1:
    m_user_id = input('Enter the user ID to update the quarterly marks...')
    for x in school_db.find({'7_user_id' : m_user_id}, {'_id':0, '1_name':1, '2_std':1, '3_sec':1, '4_parent_name':1, '5_ph_number':1, '6_dob':1}):
      print(x)

    print('Enter all the details out of 100')
    q_math = int(input('Maths...'))
    q_science = int(input('Science...'))
    q_language = int(input('Language...'))
    q_sports = int(input('Sports Count...'))
    q_art = int(input('Artwork Percentile...'))
    q_eq = int(input('Emotional Quotient...'))
    q_marks = {
        'math' : q_math,
        'science' : q_science,
        'language' : q_language,
        'sports' :  q_sports,
        'art' : q_art,
        'eq' : q_eq
    }
    school_db.update_one({ "7_user_id" : m_user_id}, { "$set" : {"8_q_marks" : q_marks }} )
    print('Updated Successfully')

  elif f == 2:
    m_user_id = input('Enter the user ID to update the half-yearly marks...')
    for x in school_db.find({'7_user_id' : m_user_id}, {'_id':0, '1_name':1, '2_std':1, '3_sec':1, '4_parent_name':1, '5_ph_number':1, '6_dob':1}):
      print(x)

    print('Enter all the details out of 100')
    h_math = int(input('Maths...'))
    h_science = int(input('Science...'))
    h_language = int(input('Language...'))
    h_sports = int(input('Sports Count...'))
    h_art = int(input('Artwork Percentile...'))
    h_eq = int(input('Emotional Quotient...'))
    h_marks = {
        'math' : h_math,
        'science' : h_science,
        'language' : h_language,
        'sports' :  h_sports,
        'art' : h_art,
        'eq' : h_eq
    }
    school_db.update_one({ "7_user_id" : m_user_id}, { "$set" : {"9_h_marks" : h_marks }} )
    print('Updated Successfully')
  
  elif f == 3:
    m_user_id = input('Enter the user ID to update the annual marks...')
    for x in school_db.find({'7_user_id' : m_user_id}, {'_id':0, '1_name':1, '2_std':1, '3_sec':1, '4_parent_name':1, '5_ph_number':1, '6_dob':1}):
      print(x)

    print('Enter all the details out of 100')
    a_math = int(input('Maths...'))
    a_science = int(input('Science...'))
    a_language = int(input('Language...'))
    a_sports = int(input('Sports Count...'))
    a_art = int(input('Artwork Percentile...'))
    a_eq = int(input('Emotional Quotient...'))
    a_marks = {
        'math' : a_math,
        'science' : a_science,
        'language' : a_language,
        'sports' :  a_sports,
        'art' : a_art,
        'eq' : a_eq
    }
    school_db.update_one({ "7_user_id" : m_user_id}, { "$set" : {"10_a_marks" : a_marks }} )
    print('Updated Successfully')

def parent():
  


#Main code
print('Press 1 if you are the Admin')
print('Press 2 if you are a Professor')
a = input()
b = check_input(a, 1, 2)
if b == 1:
  admin()
elif b == 2:
  professor()