In [151]:
!pip install -q snscrape

In [152]:
!pip install dnspython
!pip install pymongo[srv]

Requirement already satisfied: dnspython in c:\users\lenovo\anaconda3\lib\site-packages (2.2.1)
Requirement already satisfied: pymongo[srv] in c:\users\lenovo\anaconda3\lib\site-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pymongo[srv]) (2.2.1)

In [153]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import time

In [154]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://jayasurya:DbVF6hJM01Um69cu@cluster0.m5oaa.mongodb.net/?retryWrites=true&w=majority")
db = client.web_scraping
records = db.tweets

In [155]:
tweets_list = []

In [156]:
start_time = time.time()
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:NetflixIndia').get_items()): #declare a username 
    if i>10:                                                                             #number of tweets you want to scrape
        break
    tweets_list.append([tweet.date, tweet.id, tweet.user.username, tweet.outlinks, tweet.tcooutlinks,
                        tweet.replyCount, tweet.retweetCount, tweet.likeCount, tweet.quoteCount, tweet.conversationId,
                        tweet.lang, tweet.retweetedTweet]) #declare the attributes to be returned
    
print("%s seconds" % (time.time() - start_time))

0.7579104900360107 seconds

In [157]:
# Creating a dataframe from the tweets list above 
tweets_df = pd.DataFrame(tweets_list, columns=['datetime', 'tweet_id', 'username', 'outlinks', 'tcooutlinks',
                                                'reply_count', 'retweet_count', 'likecount', 'quote_count', 'conversation_id',
                                                'language', 'retweeted_tweet'
                                               ])

In [158]:
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   datetime         11 non-null     datetime64[ns, UTC]
 1   tweet_id         11 non-null     int64
 2   username         11 non-null     object
 3   outlinks         1 non-null      object
 4   tcooutlinks      1 non-null      object
 5   reply_count      11 non-null     int64
 6   retweet_count    11 non-null     int64
 7   likecount        11 non-null     int64
 8   quote_count      11 non-null     int64
 9   conversation_id  11 non-null     int64
 10  language         11 non-null     object
 11  retweeted_tweet  0 non-null      object
dtypes: datetime64[ns, UTC](1), int64(6), object(5)
memory usage: 1.2+ KB

In [159]:
tweets_df.head()

,datetime,tweet_id,username,outlinks,tcooutlinks,reply_count,retweet_count,likecount,quote_count,conversation_id,language,retweeted_tweet
0,2022-11-11 15:19:00+00:00,1591088106572111873,NetflixIndia,None,None,65,347,2938,29,1591088106572111873,en,None
1,2022-11-11 13:36:00+00:00,1591062185895030784,NetflixIndia,None,None,5,28,253,3,1591062185895030784,en,None
2,2022-11-11 11:29:00+00:00,1591030225189494785,NetflixIndia,None,None,20,23,837,1,1591030225189494785,en,None
3,2022-11-11 09:28:33+00:00,1590999916020912128,NetflixIndia,None,None,4,9,203,0,1590999743022657536,en,None
4,2022-11-11 09:27:52+00:00,1590999743022657536,NetflixIndia,None,None,47,37,963,9,1590999743022657536,ca,None

In [160]:
tweets_df.shape

(11, 12)

In [161]:
#tweets_df['url'].dtype

In [162]:
#tweets_df['url'] = tweets_df['url'].astype('|S')

In [163]:
tweets_dict = tweets_df.to_dict('records')

In [164]:
tweets_dict

[{'datetime': Timestamp('2022-11-11 15:19:00+0000', tz='UTC'),
  'tweet_id': 1591088106572111873,
  'username': 'NetflixIndia',
  'outlinks': None,
  'tcooutlinks': None,
  'reply_count': 65,
  'retweet_count': 347,
  'likecount': 2938,
  'quote_count': 29,
  'conversation_id': 1591088106572111873,
  'language': 'en',
  'retweeted_tweet': None},
 {'datetime': Timestamp('2022-11-11 13:36:00+0000', tz='UTC'),
  'tweet_id': 1591062185895030784,
  'username': 'NetflixIndia',
  'outlinks': None,
  'tcooutlinks': None,
  'reply_count': 5,
  'retweet_count': 28,
  'likecount': 253,
  'quote_count': 3,
  'conversation_id': 1591062185895030784,
  'language': 'en',
  'retweeted_tweet': None},
 {'datetime': Timestamp('2022-11-11 11:29:00+0000', tz='UTC'),
  'tweet_id': 1591030225189494785,
  'username': 'NetflixIndia',
  'outlinks': None,
  'tcooutlinks': None,
  'reply_count': 20,
  'retweet_count': 23,
  'likecount': 837,
  'quote_count': 1,
  'conversation_id': 1591030225189494785,
  'language': 'en',
  'retweeted_tweet': None},
 {'datetime': Timestamp('2022-11-11 09:28:33+0000', tz='UTC'),
  'tweet_id': 1590999916020912128,
  'username': 'NetflixIndia',
  'outlinks': None,
  'tcooutlinks': None,
  'reply_count': 4,
  'retweet_count': 9,
  'likecount': 203,
  'quote_count': 0,
  'conversation_id': 1590999743022657536,
  'language': 'en',
  'retweeted_tweet': None},
 {'datetime': Timestamp('2022-11-11 09:27:52+0000', tz='UTC'),
  'tweet_id': 1590999743022657536,
  'username': 'NetflixIndia',
  'outlinks': None,
  'tcooutlinks': None,
  'reply_count': 47,
  'retweet_count': 37,
  'likecount': 963,
  'quote_count': 9,
  'conversation_id': 1590999743022657536,
  'language': 'ca',
  'retweeted_tweet': None},
 {'datetime': Timestamp('2022-11-11 08:21:49+0000', tz='UTC'),
  'tweet_id': 1590983121499222019,
  'username': 'NetflixIndia',
  'outlinks': None,
  'tcooutlinks': None,
  'reply_count': 177,
  'retweet_count': 928,
  'likecount': 2113,
  'quote_count': 35,
  'conversation_id': 1590983121499222019,
  'language': 'en',
  'retweeted_tweet': None},
 {'datetime': Timestamp('2022-11-11 05:41:00+0000', tz='UTC'),
  'tweet_id': 1590942647883112450,
  'username': 'NetflixIndia',
  'outlinks': None,
  'tcooutlinks': None,
  'reply_count': 23,
  'retweet_count': 107,
  'likecount': 1788,
  'quote_count': 4,
  'conversation_id': 1590942647883112450,
  'language': 'en',
  'retweeted_tweet': None},
 {'datetime': Timestamp('2022-11-11 04:35:35+0000', tz='UTC'),
  'tweet_id': 1590926184753565696,
  'username': 'NetflixIndia',
  'outlinks': None,
  'tcooutlinks': None,
  'reply_count': 1,
  'retweet_count': 4,
  'likecount': 33,
  'quote_count': 0,
  'conversation_id': 1590926180802498560,
  'language': 'qme',
  'retweeted_tweet': None},
 {'datetime': Timestamp('2022-11-11 04:35:34+0000', tz='UTC'),
  'tweet_id': 1590926180802498560,
  'username': 'NetflixIndia',
  'outlinks': None,
  'tcooutlinks': None,
  'reply_count': 12,
  'retweet_count': 38,
  'likecount': 471,
  'quote_count': 3,
  'conversation_id': 1590926180802498560,
  'language': 'en',
  'retweeted_tweet': None},
 {'datetime': Timestamp('2022-11-10 13:28:05+0000', tz='UTC'),
  'tweet_id': 1590697806377136128,
  'username': 'NetflixIndia',
  'outlinks': ['https://twitter.com/TwitterSupport/status/1590471013154050048'],
  'tcooutlinks': ['https://t.co/z02dZMYDKy'],
  'reply_count': 8,
  'retweet_count': 106,
  'likecount': 615,
  'quote_count': 1,
  'conversation_id': 1590697806377136128,
  'language': 'en',
  'retweeted_tweet': None},
 {'datetime': Timestamp('2022-11-10 12:19:00+0000', tz='UTC'),
  'tweet_id': 1590680420302999552,
  'username': 'NetflixIndia',
  'outlinks': None,
  'tcooutlinks': None,
  'reply_count': 12,
  'retweet_count': 23,
  'likecount': 472,
  'quote_count': 2,
  'conversation_id': 1590680420302999552,
  'language': 'en',
  'retweeted_tweet': None}]

In [165]:
records.insert_many(tweets_dict)

#issue 1 : documents must be non-empty list - included 'records' in the to_dict
#issue 2: bad auth : Authentication failed - removed < & > while connecting to client
#issue 3: cannot encode object: Photo - removed 'media'
#issue 4 : cannot encode object: user - removed 'mentioned_users'
#issue 4 : cannot encode object: Tweet - removed 'url', 'source', 'tweet', 'quoted_tweet'

In [ ]:
#installation of streamlit
#Using anaconda navigator terminal, installation needs to be done
#login to share.streamlit.io
#

In [169]:

import streamlit as st

In [177]:
st.text('hello')

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [172]:
st.write('Twitter Scrapping')
st.write(tweets_df)

In [178]:
st.dataframe(tweets_df)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)