In [1]:
import pandas as pd

In [47]:
df = pd.read_excel(r"D:\AH\Patient Payments Business Case Data.xlsx", sheet_name = None)

practice = df["Practice"]
charges = df["Charges"]
payments = df["Payments"]

In [12]:
practice.head()

,Practice ID,Specialty,Size,Statement Pay Enabled,Guest Pay Enabled,Portal Pay Enabled
0,57,Obstetrics/Gynecology,Small,Y,Y,Y
1,72,Pediatrics,Small,Y,Y,Y
2,129,Obstetrics/Gynecology,Small,Y,Y,Y
3,210,Obstetrics/Gynecology,Small,Y,Y,Y
4,219,Obstetrics/Gynecology,X-Large,Y,Y,Y

In [13]:
charges.head()

,Practice ID,Charge ID,Charge Date,Patient ID,Charge Amount,Charge Type,Patient Age
0,6120,6120_11364675,2021-04-18,6120_329154,16.70,COPAY,25
1,19851,19851_483405,2021-02-05,19851_86429,212.04,DEDUCTIBLE,90
2,19851,19851_473580,2021-01-22,19851_86429,132.06,DEDUCTIBLE,90
3,19851,19851_491385,2021-02-19,19851_86429,25.00,COINSURANCE,90
4,19851,19851_572250,2021-06-11,19851_86429,25.00,COINSURANCE,90

In [14]:
payments.describe()

        Practice ID                   Payment Date   Paid Amount
count  91208.000000                          91208  91208.000000
mean    3977.842185  2021-04-05 07:11:34.044382208     53.287807
min       57.000000            2021-01-01 00:00:00   -228.510000
25%     1257.000000            2021-02-22 00:00:00     15.000000
50%     4479.000000            2021-04-07 00:00:00     30.000000
75%     5559.000000            2021-05-20 00:00:00     57.125000
max    19851.000000            2021-06-30 00:00:00  12500.000000
std     3222.966935                            NaN    115.112197

In [15]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91208 entries, 0 to 91207
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Practice ID     91208 non-null  int64
 1   Charge ID       91208 non-null  object
 2   Payment ID      91208 non-null  object
 3   Payment Date    91208 non-null  datetime64[ns]
 4   Paid Amount     91208 non-null  float64
 5   Payment Method  91208 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 4.2+ MB

In [18]:
practice['Specialty'].value_counts()

Specialty
Obstetrics/Gynecology    17
Pediatrics               11
Cardiology                5
Urgent Care               5
Neurological Surgery      1
Name: count, dtype: int64

In [20]:
payments['Paid Amount'].value_counts()

Paid Amount
25.00    5690
20.00    5001
30.00    4736
35.00    3707
10.00    3222
         ...
53.50       1
49.30       1
17.67       1
34.69       1
9.36        1
Name: count, Length: 9304, dtype: int64

In [24]:
practice.duplicated().sum()

np.int64(0)

In [25]:
charges.duplicated().sum()

np.int64(0)

In [26]:
payments.duplicated().sum()

np.int64(0)

In [28]:
practice.duplicated(subset = ['Specialty']).sum()

np.int64(34)

In [30]:
practice.isnull().sum()

Practice ID              0
Specialty                0
Size                     0
Statement Pay Enabled    0
Guest Pay Enabled        0
Portal Pay Enabled       0
dtype: int64

In [31]:
practice.notnull().sum()

Practice ID              39
Specialty                39
Size                     39
Statement Pay Enabled    39
Guest Pay Enabled        39
Portal Pay Enabled       39
dtype: int64

In [32]:
charges.notnull().sum()

Practice ID      100107
Charge ID        100107
Charge Date      100107
Patient ID       100107
Charge Amount    100107
Charge Type      100107
Patient Age      100107
dtype: int64

In [33]:
charges.isnull().sum()

Practice ID      0
Charge ID        0
Charge Date      0
Patient ID       0
Charge Amount    0
Charge Type      0
Patient Age      0
dtype: int64

In [35]:
payments.isnull().sum()

Practice ID       0
Charge ID         0
Payment ID        0
Payment Date      0
Paid Amount       0
Payment Method    0
dtype: int64

In [4]:
practice.head()

,Practice ID,Specialty,Size,Statement Pay Enabled,Guest Pay Enabled,Portal Pay Enabled
0,57,Obstetrics/Gynecology,Small,Y,Y,Y
1,72,Pediatrics,Small,Y,Y,Y
2,129,Obstetrics/Gynecology,Small,Y,Y,Y
3,210,Obstetrics/Gynecology,Small,Y,Y,Y
4,219,Obstetrics/Gynecology,X-Large,Y,Y,Y

In [48]:
payment_method = ['Guest Pay', 'Portal Pay', 'Statement pay']

In [49]:
total_practices = practice['Practice ID'].nunique()
(total_practices)

39

In [50]:
enabled_counts = df[payment_method].apply(lambda x : (x == 'Y').sum())

TypeError: unhashable type: 'list'

In [51]:
practice.head()

,Practice ID,Specialty,Size,Statement Pay Enabled,Guest Pay Enabled,Portal Pay Enabled
0,57,Obstetrics/Gynecology,Small,Y,Y,Y
1,72,Pediatrics,Small,Y,Y,Y
2,129,Obstetrics/Gynecology,Small,Y,Y,Y
3,210,Obstetrics/Gynecology,Small,Y,Y,Y
4,219,Obstetrics/Gynecology,X-Large,Y,Y,Y

In [52]:
data = {
    'payment_method' : ['Guest Pay', 'Portal Pay', 'Statement Pay'],
    'practice_count' : [
        practice['Guest Pay Enabled'].apply(lambda x : x == 'Y').sum(),
        practice['Portal Pay Enabled'].apply(lambda x : x == 'Y').sum(),
        practice['Statement Pay Enabled'].apply(lambda x : x == 'Y').sum(),
    ]}

In [53]:
data

{'payment_method': ['Guest Pay', 'Portal Pay', 'Statement Pay'],
 'practice_count': [np.int64(36), np.int64(30), np.int64(34)]}

In [54]:
df = pd.DataFrame(data)
df

  payment_method  practice_count
0      Guest Pay              36
1     Portal Pay              30
2  Statement Pay              34

In [55]:
total_practices = practice['Practice ID'].count()

In [56]:
total_practices

np.int64(39)

In [57]:
df['percentage'] = (df['practice_count'] / total_practices).round(2)

In [31]:
df

  payment_method  practice_count  percentage
0      Guest Pay              36        0.92
1     Portal Pay              30        0.77
2  Statement Pay              34        0.87

In [58]:
def get_enabled_methods(row):
    methods = []
    if row['Guest Pay Enabled'] == 'Y':
        methods.append('Guest')
    if row['Portal Pay Enabled'] == 'Y':
        methods.append('Portal')
    if row['Statement Pay Enabled'] == 'Y':
        methods.append('Statement')
    return ', '.join(methods) if methods else 'None'

In [61]:
practice['enabled_payment_methods'] = practice.apply(get_enabled_methods, axis = 1)

In [64]:
df1 = practice['enabled_payment_methods'].value_counts().reset_index()
df1.columns = ['enabled_payment_method', 'practice_count']

In [65]:
df1

     enabled_payment_method  practice_count
0  Guest, Portal, Statement              29
1                     Guest               4
2                 Statement               3
3          Guest, Statement               2
4             Guest, Portal               1

In [68]:
df1['percentage'] = (df1['practice_count'] / total_practices).round(2)

In [69]:
df1

     enabled_payment_method  practice_count  percentage
0  Guest, Portal, Statement              29        0.74
1                     Guest               4        0.10
2                 Statement               3        0.08
3          Guest, Statement               2        0.05
4             Guest, Portal               1        0.03

In [97]:

df3 = practice.groupby('Size')[['Guest Pay Enabled', 'Portal Pay Enabled', 'Statement Pay Enabled']].apply(lambda x : (x == 'Y').sum()).reset_index()

In [98]:
df3

      Size  Guest Pay Enabled  Portal Pay Enabled  Statement Pay Enabled
0    Large                  4                   3                      4
1   Medium                  8                   8                      8
2    Small                 18                  16                     18
3  X-Large                  6                   3                      4

In [99]:
df3['total practices'] = practice.groupby('Size').size().values

In [100]:
df3

,Size,Guest Pay Enabled,Portal Pay Enabled,Statement Pay Enabled,total practices
0,Large,4,3,4,4
1,Medium,8,8,8,9
2,Small,18,16,18,20
3,X-Large,6,3,4,6

In [101]:
df3['Guest %'] = (df3['Guest Pay Enabled'] / df3['total practices']).round(2)
df3['Portal %'] = (df3['Portal Pay Enabled'] / df3['total practices']).round(2)
df3['Statement %'] = (df3['Statement Pay Enabled'] / df3['total practices']).round(2)

In [102]:
df3

,Size,Guest Pay Enabled,Portal Pay Enabled,Statement Pay Enabled,total practices,Guest %,Portal %,Statement %
0,Large,4,3,4,4,1.00,0.75,1.00
1,Medium,8,8,8,9,0.89,0.89,0.89
2,Small,18,16,18,20,0.90,0.80,0.90
3,X-Large,6,3,4,6,1.00,0.50,0.67

In [104]:
import scipy.stats as stats

In [105]:
df3.set_index(df3.columns[0], inplace = True)

In [106]:
df3

,Guest Pay Enabled,Portal Pay Enabled,Statement Pay Enabled,total practices,Guest %,Portal %,Statement %
Size,,,,,,,
Large,4,3,4,4,1.00,0.75,1.00
Medium,8,8,8,9,0.89,0.89,0.89
Small,18,16,18,20,0.90,0.80,0.90
X-Large,6,3,4,6,1.00,0.50,0.67

In [107]:
df4 = df3.iloc[:, :3]

In [108]:
df4

         Guest Pay Enabled  Portal Pay Enabled  Statement Pay Enabled
Size
Large                    4                   3                      4
Medium                   8                   8                      8
Small                   18                  16                     18
X-Large                  6                   3                      4

In [109]:
chi2, p, dof, expected = stats.chi2_contingency(df4)

In [113]:
chi2_result = {
    'Chi-Square Statistic' : chi2,
    'p_value' : p,
    'Degrees of Freedom': dof,
    'expected Frequencies': expected
}

In [114]:
chi2_result

{'Chi-Square Statistic': np.float64(0.8488352605999665),
 'p_value': np.float64(0.990699875623935),
 'Degrees of Freedom': 6,
 'expected Frequencies': array([[ 3.96,  3.3 ,  3.74],
        [ 8.64,  7.2 ,  8.16],
        [18.72, 15.6 , 17.68],
        [ 4.68,  3.9 ,  4.42]])}

In [115]:
charges.head()

,Practice ID,Charge ID,Charge Date,Patient ID,Charge Amount,Charge Type,Patient Age
0,6120,6120_11364675,2021-04-18,6120_329154,16.70,COPAY,25
1,19851,19851_483405,2021-02-05,19851_86429,212.04,DEDUCTIBLE,90
2,19851,19851_473580,2021-01-22,19851_86429,132.06,DEDUCTIBLE,90
3,19851,19851_491385,2021-02-19,19851_86429,25.00,COINSURANCE,90
4,19851,19851_572250,2021-06-11,19851_86429,25.00,COINSURANCE,90

In [116]:
payments.head()

,Practice ID,Charge ID,Payment ID,Payment Date,Paid Amount,Payment Method
0,5559,5559_3906930,5559_7059582,2021-01-14,40.00,OTHER
1,210,210_3992410,210_7196454,2021-01-29,10.00,OTHER
2,546,546_4646975,546_8377668,2021-01-31,25.00,OTHER
3,426,426_869705,426_1569681,2021-06-06,12.05,OTHER
4,5559,5559_3895045,5559_7034247,2021-01-07,145.62,OTHER

In [117]:
agg_payments = payments.groupby(['Practice ID', 'Charge ID']).agg(
    payment_count = ('Payment ID', 'nunique'),
    first_payment_date = ('Payment Date', 'min'),
    last_payment_date = ('Payment Date', 'max'),
    total_paid_amount = ('Paid Amount', 'sum'),
    payment_methods_used = ('Payment Method', 'nunique')
).reset_index()

In [118]:
agg_payments.head()

,Practice ID,Charge ID,payment_count,first_payment_date,last_payment_date,total_paid_amount,payment_methods_used
0,57,57_208595,1,2021-02-17,2021-02-17,10.00,1
1,57,57_216365,1,2021-03-23,2021-03-23,65.52,1
2,57,57_229575,2,2021-03-23,2021-05-03,34.48,1
3,57,57_289935,2,2021-02-17,2021-03-04,0.00,1
4,57,57_315335,1,2021-01-25,2021-01-25,15.48,1

In [119]:
merged_df = pd.merge(charges, agg_payments, on = 'Charge ID', how = 'left')

In [120]:
merged_df.head()

,Practice ID_x,Charge ID,Charge Date,Patient ID,Charge Amount,Charge Type,Patient Age,Practice ID_y,payment_count,first_payment_date,last_payment_date,total_paid_amount,payment_methods_used
0,6120,6120_11364675,2021-04-18,6120_329154,16.70,COPAY,25,6120.0,1.0,2021-05-06,2021-05-06,16.70,1.0
1,19851,19851_483405,2021-02-05,19851_86429,212.04,DEDUCTIBLE,90,19851.0,3.0,2021-02-06,2021-02-09,212.04,1.0
2,19851,19851_473580,2021-01-22,19851_86429,132.06,DEDUCTIBLE,90,19851.0,3.0,2021-01-22,2021-06-15,55.00,1.0
3,19851,19851_491385,2021-02-19,19851_86429,25.00,COINSURANCE,90,19851.0,1.0,2021-02-19,2021-02-19,25.00,1.0
4,19851,19851_572250,2021-06-11,19851_86429,25.00,COINSURANCE,90,19851.0,1.0,2021-06-11,2021-06-11,25.00,1.0

In [121]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100107 entries, 0 to 100106
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Practice ID_x         100107 non-null  int64
 1   Charge ID             100107 non-null  object
 2   Charge Date           100107 non-null  datetime64[ns]
 3   Patient ID            100107 non-null  object
 4   Charge Amount         100107 non-null  float64
 5   Charge Type           100107 non-null  object
 6   Patient Age           100107 non-null  int64
 7   Practice ID_y         68458 non-null   float64
 8   payment_count         68458 non-null   float64
 9   first_payment_date    68458 non-null   datetime64[ns]
 10  last_payment_date     68458 non-null   datetime64[ns]
 11  total_paid_amount     68458 non-null   float64
 12  payment_methods_used  68458 non-null   float64
dtypes: datetime64[ns](3), float64(5), int64(2), object(3)
memory usage: 9.9+ MB

In [122]:
merged_df['payment_methods_used'].value_counts()

payment_methods_used
1.0    67462
2.0      991
3.0        5
Name: count, dtype: int64

In [129]:
merged_df['Charge Type'].loc[merged_df['payment_methods_used'] == 2.0].value_counts()

Charge Type
DEDUCTIBLE     458
COPAY          318
COINSURANCE    104
OTHER           69
SELF-PAY        42
Name: count, dtype: int64

In [130]:
merged_df1 = pd.merge(charges, payments, on = 'Charge ID', how = 'left')

In [131]:
merged_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106001 entries, 0 to 106000
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Practice ID_x   106001 non-null  int64
 1   Charge ID       106001 non-null  object
 2   Charge Date     106001 non-null  datetime64[ns]
 3   Patient ID      106001 non-null  object
 4   Charge Amount   106001 non-null  float64
 5   Charge Type     106001 non-null  object
 6   Patient Age     106001 non-null  int64
 7   Practice ID_y   74352 non-null   float64
 8   Payment ID      74352 non-null   object
 9   Payment Date    74352 non-null   datetime64[ns]
 10  Paid Amount     74352 non-null   float64
 11  Payment Method  74352 non-null   object
dtypes: datetime64[ns](2), float64(3), int64(2), object(5)
memory usage: 9.7+ MB

In [145]:
payment_method_usage = merged_df1.groupby(['Payment Method']).agg(
    Paid_Amount = ('Paid Amount', 'sum'),
    Payment_Count = ('Payment ID', 'nunique'),
    Charges_Count = ('Charge ID', 'nunique')
).reset_index()

In [146]:
payment_method_usage['percentage'] = (payment_method_usage['Paid_Amount'] / payment_method_usage['Paid_Amount'].sum()).round(4)

In [147]:
payment_method_usage

  Payment Method  Paid_Amount  Payment_Count  Charges_Count  percentage
0      GUEST PAY    227584.77           4296           4282      0.0554
1          OTHER   3097337.63          56888          52211      0.7538
2     PORTAL PAY    314227.63           4946           4829      0.0765
3  STATEMENT PAY    470061.28           8222           8137      0.1144

In [150]:
charge_amount = merged_df.groupby('Charge Type').agg(
    Charge_Amount = ('Charge Amount', 'sum'),
    Paid_Amount = ('total_paid_amount', 'sum')
).reset_index()

In [151]:
charge_amount

   Charge Type  Charge_Amount  Paid_Amount
0  COINSURANCE      726215.59    343533.55
1        COPAY      877122.11    711547.49
2   DEDUCTIBLE     2241963.39   1587500.59
3        OTHER      747598.02    286616.39
4     SELF-PAY     1789229.45   1180013.29

In [154]:
merged_df['full_payment'] = (merged_df['Charge Amount'] == merged_df['total_paid_amount']).astype(int)

In [155]:
merged_df.head()

,Practice ID_x,Charge ID,Charge Date,Patient ID,Charge Amount,Charge Type,Patient Age,Practice ID_y,payment_count,first_payment_date,last_payment_date,total_paid_amount,payment_methods_used,full_payment
0,6120,6120_11364675,2021-04-18,6120_329154,16.70,COPAY,25,6120.0,1.0,2021-05-06,2021-05-06,16.70,1.0,1
1,19851,19851_483405,2021-02-05,19851_86429,212.04,DEDUCTIBLE,90,19851.0,3.0,2021-02-06,2021-02-09,212.04,1.0,0
2,19851,19851_473580,2021-01-22,19851_86429,132.06,DEDUCTIBLE,90,19851.0,3.0,2021-01-22,2021-06-15,55.00,1.0,0
3,19851,19851_491385,2021-02-19,19851_86429,25.00,COINSURANCE,90,19851.0,1.0,2021-02-19,2021-02-19,25.00,1.0,1
4,19851,19851_572250,2021-06-11,19851_86429,25.00,COINSURANCE,90,19851.0,1.0,2021-06-11,2021-06-11,25.00,1.0,1

In [156]:
merged_df.to_excel("output.xlsx", index=False)

In [157]:
from IPython.display import FileLink

FileLink("output.xlsx")

C:\Users\jayas\output.xlsx